<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

<sitecore>

	<pipelines>
	<testPipeline>
		<processor type="XmCloudSXAStarter.Pipelines.TestPipelineProcessor, XmCloudSXAStarter" />
	</testPipeline>

	<addBannerPipeline>
		<processor type="XmCloudSXAStarter.Pipelines.AddBannerProcessor, XmCloudSXAStarter" />
	</addBannerPipeline>
</pipelines>

</sitecore>
</configuration>